<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="TestAll">
 
  <test name="Cleartrip">
 
	<classes>
		<class name="Tests.Test1_Signing_in" />
		<class name="Tests.Test2_Button_Check" />
		<class name="Tests.Test3_Reviews" />
		<class name="Tests.Test4_Flights_Currency" />
		<class name="Tests.Test5_Verify_Collection_links" />
		
		
	</classes>
  </test>
 
</suite>